@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcfcfc;
    margin-top: 100px;
    padding: 15px;
    gap: 20px;
    @include max-md {
        flex-direction: column;
    }
    .heading {
        font-size: 15px;
        cursor: pointer;
    }
    .contactHeading {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
