@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fcfcfc;
    margin-top: 100px;
    .heading {
        font-size: 15px;
        padding: 15px;
    }
}
