@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    scroll-margin-top: 70px;
    .sectionHeading {
        font-size: 60px;
        text-align: center;
        margin: 50px 0 60px;
    }

    .content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 100px;
        @include max-sm {
            flex-direction: column;
        }
        &.columnContentView {
            flex-direction: column;
        }
        .imgColumn svg {
            @include max-xl {
                width: 350px;
            }
        }
    }
}
