@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    max-width: 1416px;
    display: flex;
    flex-direction: column;
    color: $color-white;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: fit-content;
        padding: 20px;
        border-radius: 10px;
        background: #7286d3;
        .imgView {
            width: 320px;
            height: 250px;
            background: whitesmoke;
            & {
                position: relative;
                overflow: hidden;
                border-radius: 5px;
            }
        }
        .itemOverlay {
            .cardHeading {
                color: $color-white;
                text-align: left;
                font-weight: 600;
                text-transform: uppercase;
                padding: 10px 0px 10px;
            }
            .itemBody {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px;
                .details {
                    max-width: 550px;
                }
                .links {
                    display: flex;
                    justify-content: left;
                    gap: 20px;
                    .button {
                        height: 15px;
                    }
                }
            }
        }
    }
}
