@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    max-width: 1416px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 32px;
    color: $color-white;
    .item {
        position: relative;
        height: 280px;
        background: $color-white;
        overflow-y: hidden;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
        .links {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
        .cardHeading {
            margin: 0;
            display: block;
            background: $color-blue;
            padding: 16px;
            color: $color-white;
        }
        .itemOverlay:hover {
            transform: translate3d(0, 0, 0);
            .imgView {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .itemOverlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        transition: transform 300ms;
        background-color: lighten($color-blue, 15%);
        transform: translate3d(0, calc(100% - 3.5rem), 0);
    }

    .itemBody {
        flex-grow: 1;
        padding: 16px;

        .details {
            margin: 0;
            color: $color-white;
        }
    }
}
