@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.image {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    @include max-sm {
        height: 450px;
    }
}
