@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $color-white;
    box-shadow: $box-shadow-navbar;
    z-index: 50;
    transition: background 0.5s;
    @include max-xl {
        height: fit-content;
        flex-direction: column;
        padding: 10px;
    }
    .logo {
        position: relative;
        left: -10px;
        margin: 20px 0 20px;
    }

    .hamburgerIcon {
        position: absolute;
        width: 22px;
        height: 30px;
        top: 28px;
        right: 15px;
        cursor: pointer;
        .bar {
            display: block;
            background: $color-black;
            height: 3px;
            width: 22px;
            margin-top: 4px;
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 15px;
        @include max-xl {
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }

    .socialLinksBox {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 10px;
        @include max-xl {
            margin: 15px 0 15px;
        }
    }
    // ==== menu hover ==== //

    @include max-xl {
        .socialLinksBox,
        .menu {
            display: none;
        }
        .open {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 5px 0;
            width: 100%;
            color: white;
            background-color: $color-white;
        }
    }
}
