@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    max-width: 1416px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 70px;
}
