@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.button {
    display: flex;
    align-items: center;
    font-stretch: normal;
    text-align: center;
    font-family: $font-main;
    cursor: pointer;
    height: 48px;
    padding: 20px;
    border: 0;
    line-height: 24px;
    font-size: 16px;
    border-radius: 10px;
}

.small {
    height: 38px;
    font-size: 14px;
}
.big {
    height: 56px;
    font-size: 18px;
}

.buttonDefault__Primary {
    background: $color-green;
    color: $color-white;
    font-weight: 600;
    letter-spacing: 0.5;
    &:hover {
        background: $color-green-light;
        color: $color-white;
        transition: background 0.7s;
    }
}

.buttonDefault__Tertiary {
    background: transparent;
    font-weight: 600;
    &:hover {
        background: $color-blue;
        color: $color-white;
        border-radius: 10px;
        transition: background 0.5s;
    }
}
