@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    z-index: 1;
    @include max-sm {
        top: 120px;
        left: 20px;
        width: 300px;
    }
    .heading {
        position: relative;
        left: 150px;
        width: 70%;
        font-size: 70px;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
        background-image: linear-gradient(#0755db, #271d20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        @include max-sm {
            left: 10px;
            font-size: 30px;
            width: 100%;
        }
    }
}
