@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
        font-weight: 700;
        padding: 10px;
        font-size: 30px;
        letter-spacing: 0.5px;
    }
    .subHeading {
        font-weight: 600;
    }

    .description {
        max-width: 500px;
        margin-top: 10px;
        text-align: left;
        white-space: normal;
        padding: 20px;
        line-height: normal;
        letter-spacing: 0.5px;
        font-size: 20px;
    }
    .buttonBox {
        padding-top: 50px;
    }
}
