@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

// color
$color-white: #fff;
$color-blue: #387aea;
$color-green: #14ae69;
$color-green-light: #1d8f5b;
// box shadow
$box-shadow-navbar: 0 4px 2px -2px rgb(220, 220, 220);

//font-spec
$font-main: "Montserrat";
$font-style: normal;
$font-weight-light: 300;
$font-weight-main: 400;
$font-weight-bold: 600;
$font-weight-super-bold: 800;
